body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}
.quote {
  font-size: 1.5em;
  margin: 20px 0;
}
button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}


.btn-primary {
  --bs-btn-hover-bg: green;
  --bs-btn-border-color: green;

  --bs-btn-active-border-color: green;
}